<h1 class="title"> Welcome Admin!</h1>

<div id="main" class="row">

    <div class="col-12">
        <div class="info">
            Our famous pizzas:
        </div>
    </div>

    <!-- Render ALL pizzas -->
    <div class="col-12">
        <ul id="pizza-list">
            #foreach($pizza in $pizzas)
                <li class="pizza row $pizza.stringRepresentationOfFilter()">
                    <div class="name col-2">
                        <a href="/pizza/$pizza.slug">$pizza.name</a>
                    </div>
                    <div class="ingredients col-6 offset-1">$pizza.ingredients</div>
                    <div class="price col-1 offset-1"> £$pizza.price</div>
                </li>
            #end
        </ul>

        <button id="addPizza" style="margin: 30px 30px auto auto  ">Create new pizza</button>

        <form  id="form" style="margin:30px auto 50px" method="POST" action="/admin">
            <p class="createpizza">Create a pizza:</p>
            <div class="row">
                <label class="col-2">Name:</label>
                <input class="col-4" type="text" name="pizzaname"  required>
            </div>
            <div class="row">
                <label class="col-1">Price:</label>
                <p class="col-1">£</p>
                <input class="col-4" type="text" name="pizzaprice" required>
            </div>
            <div class="row">
                <label class="col-2">No of slices:</label>
                <input class="col-4" type="text" name="pizzaslice" >
            </div>
            <div class="row">
                <label class="col-2">Pizza Slug:</label>
                <input class="col-4" type="text" name="pizzaslug" required>
            </div>
            <div class="row">
                <label class="col-2">Weight:</label>
                <input class="col-4" type="text" name="pizzaweight" >
            </div>
            <div class="row">
                <label class="col-2">Key ingredients:</label>
                <textarea class="col-6" type="text" name="pizzaingredients" ></textarea>
            </div>


            <div class="row allergyInfo top-buffer">
                <label class="col-2">Allergy info:</label>
                <label class="col-3">Gluten
                    <span></span>
                </label>
                <input class="col-1" type="checkbox" name="allergen" value="Gluten" id="gluten">
                <label class="col-2" >Mollusc products
                    <span></span>
                </label>
                <input class="col-1" type="checkbox" name="allergen" value="Mollusc products" id="mollsc">
                <label class="col-2">Lupin products
                    <span></span>
                </label>
                <input class="col-1" type="checkbox" name="allergen" value="Lupin products" id="lupin">
            </div>
            <div class="row">
                <label class="col-2"></label>
                <label class="col-3">Soya/soya products
                    <span></span>
                </label>
                <input class="col-1" type="checkbox" name="allergen" value="Soya/soya products" id="soya">
                <label class="col-2">Sulphur Dioxide
                    <span></span>
                </label>
                <input class="col-1" type="checkbox" name="allergen" value="Sulphur Dioxide" id="sulphur">
                <label class="col-2">Peanut products
                    <span></span>
                </label>
                <input class="col-1" type="checkbox" name="allergen" value="Peanut products" id="peanut">
            </div>
            <div class="row">
                <label class="col-2"></label>
                <label class="col-3">Egg/egg products
                    <span></span>
                </label>
                <input class="col-1" type="checkbox" name="allergen" value="Egg/egg products" id="egg">
                <label class="col-2">Sesame products
                    <span></span>
                </label>
                <input class="col-1" type="checkbox" name="allergen" value="Sesame products" id="sesame">
            </div>
            <div class="row">
                <label class="col-2"></label>
                <label class="col-3">Milk/milk products
                    <span></span>
                </label>
                <input class="col-1" type="checkbox" name="allergen" value="Milk/milk products" id="milk">
                <label class="col-2">Celery products
                    <span></span>
                </label>
                <input class="col-1" type="checkbox" name="allergen" value="Celery products" id="celery">
            </div>
            <div class="row">
                <label class="col-2"></label>
                <label class="col-3">Fish/shellfish products
                    <span></span>
                </label>
                <input class="col-1" type="checkbox" name="allergen" value="Fish/shellfish products" id="fish">
                <label class="col-2">Mustard products
                    <span></span>
                </label>
                <input class="col-1" type="checkbox" name="allergen" value="Mustard products" id="mustard">
            </div>

            <div class="row top-buffer">
                <label class="col-2">Vegetarian:
                    <span></span>
                </label>
                <div class="onoffswitch">
                    <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" value="true" id="myonoffswitch" required>
                    <label class="onoffswitch-label" for="myonoffswitch">
                        <span class="onoffswitch-inner"></span>
                        <span class="onoffswitch-switch"></span>
                    </label>
                </div>
            </div>

            <div class="row">
                <label class="col-2">Vegan:
                    <span></span>
                </label>
                <div class="onoffswitch1">
                    <input type="checkbox" name="onoffswitch1" class="onoffswitch1-checkbox" value="true" id="myonoffswitch1" required>
                    <label class="onoffswitch1-label" for="myonoffswitch1">
                        <span class="onoffswitch1-inner"></span>
                        <span class="onoffswitch1-switch"></span>
                    </label>
                </div>
            </div>
            <div class="top-buffer">
                <p>Nutritional info per slice</p>
                <div class="row ">
                    <label class="col-2">Energy:</label>
                    <input class="col-2" type="text" name="energy" >
                    <label class="col-2">kCals</label>
                </div>
                <div class="row">
                    <label class="col-2">Protein:</label>
                    <input class="col-2" type="text" name="protein" >
                    <label class="col-2">g</label>
                </div>
                <div class="row">
                    <label class="col-2">Carbs:</label>
                    <input class="col-2" type="text" name="carbs" >
                    <label class="col-2">g</label>
                </div>
                <div class="row">
                    <label class="col-2">Sugars:</label>
                    <input class="col-2" type="text" name="sugars" >
                    <label class="col-2">g</label>
                </div>
                <div class="row">
                    <label class="col-2">Fat:</label>
                    <input class="col-2" type="text" name="fat" >
                    <label class="col-2">g</label>
                </div>
                <div class="row">
                    <label class="col-2">Saturated fat:</label>
                    <input class="col-2" type="text" name="saturatedfat" >
                    <label class="col-2">g</label>
                </div>
                <div class="row">
                    <label class="col-2">Salt:</label>
                    <input class="col-2" type="text" name="salt" >
                    <label class="col-2">g</label>
                </div>
            </div>
            <div class="top-buffer">
                <p>Nutritional info per 100g</p>
                <div class="row">
                    <label class="col-2">Energy:</label>
                    <input class="col-2" type="text" name="energy100" >
                    <label class="col-2">kCals</label>
                </div>
                <div class="row">
                    <label class="col-2">Protein:</label>
                    <input class="col-2" type="text" name="protein100" >
                    <label class="col-2">g</label>
                </div>
                <div class="row">
                    <label class="col-2">Carbs:</label>
                    <input class="col-2" type="text" name="carbs100" >
                    <label class="col-2">g</label>
                </div>
                <div class="row">
                    <label class="col-2">Sugars:</label>
                    <input class="col-2" type="text" name="sugars100" >
                    <label class="col-2">g</label>
                </div>
                <div class="row">
                    <label class="col-2">Fat:</label>
                    <input class="col-2" type="text" name="fat100" >
                    <label class="col-2">g</label>
                </div>
                <div class="row">
                    <label class="col-2">Saturated fat:</label>
                    <input class="col-2" type="text" name="saturatedfat100" >
                    <label class="col-2">g</label>
                </div>
                <div class="row">
                    <label class="col-2">Salt:</label>
                    <input class="col-2" type="text" name="salt100" >
                    <label class="col-2">g</label>
                </div>
            </div>
            <div style="display:flex; justify-content: center">
                <a href="/admin" id="cancel-pizza-button" style="color:blue; margin:10px; border:2px solid grey; width: 60px; text-align: center"> Cancel</a>
                <input id="submit-pizza-button" type="submit" value="Save" style="color:blue;margin:10px">
            </div>

        </form>

    </div>
</div>