<div id="info" style="text-align: right; font-size: 20px">
    <p>Call us now to order: 0800 123 4567</p>
</div>

<div class="checkout-title">
    <h1 style="text-align: center;">Checkout</h1>
    <p style="font-size: 20px; margin-top:10px;">You can now order online and pay on collection by completing the details below.</p>
</div>


<div class="order-details">
    <h2 class="order-details-title">Here is your order</h2>
    <table class="confirmed-pizza">
        <tr>
            <th id="name">$orderedPizza.name</th>
            <td id="price">£$orderedPizza.price</td>
        </tr>
        <tr>
            <th>Order total</th>
            <td><strong>£$orderedPizza.price</strong></td>
        </tr>
        <tr>
            <th>TOTAL DUE</th>
            <td><strong>£$orderedPizza.price</strong></td>
        </tr>
    </table>
</div>

<form style="margin:30px auto 50px" method="POST" action="/confirmation">
    <div style="display: flex;justify-content: center"><label>Please enter your name</label>
    <input style="width:200px;margin-left:20px;border:2px solid black"type="text" name="customer_name" id="customer_name" required=""
           oninvalid="this.setCustomValidity('Please enter your name to identify your order')" oninput="setCustomValidity('')">
    <input type="hidden" name="pizza_id" id="pizza_id" value="$orderedPizza.uuid"></div>
    <input type="hidden" name="pizza_slug" id="pizza_slug" value="$orderedPizza.slug"></div>

    #if( $invalid )
        <p id="error-message" style="color:#ff0000; text-align: center"><strong>Please enter your name to identify your order</strong></p>
    #end
    <div style="display:flex; justify-content: center">
        <a href="/" id="cancel-order-button" style="color:blue; margin:10px; border:2px solid grey; width: 60px; text-align: center"> Cancel</a>
        <input id="submit-order-button" type="submit" value="Submit" style="color:blue;margin:10px">
    </div>

</form>
