<header class="page-header">
    <a href="/"><img id="header-image" src="/images/pizzaworks-logo.png"></a>
    <a href="/login"><button>Login</button></a>
    <div id="info">
        <p>Phone number: 0782-129-8883</p>
    </div>
</header>
<h1 class="pizza-title">$chosenPizza.name</h1>
<h2 class="pizza-price">£$chosenPizza.price</h2>
<p class="pizza-num-slices">$chosenPizza.nutritionalValues.num_slices slices</p>


<p class="pizza-key-ingredients">Key Ingredients: $chosenPizza.ingredients</p>
<p class="pizza-allergens">Allergy Info, may contain: <strong>$chosenPizza.nutritionalValues.allergens</strong></p>
<p class="pizza-vegetarian">Suitable for vegetarians: <strong>$chosenPizza.nutritionalValues.vegetarian</strong></p>
<p class="pizza-vegan">Suitable for vegans: <strong>$chosenPizza.nutritionalValues.vegan</strong></p>

<a href="/"><button> Return to list of pizzas</button></a>
