<div id="info">
    <p>Phone number: 0782-129-8883</p>
</div>
<h1 class="pizza-title">$chosenPizza.name</h1>
<h2 class="pizza-price">£$chosenPizza.price</h2>
<p class="pizza-num-slices">$chosenPizza.nutritionalValues.num_slices slices</p>


<p class="pizza-key-ingredients">Key Ingredients: $chosenPizza.ingredients</p>
<p class="pizza-allergens">Allergy Info, may contain: <strong>$chosenPizza.nutritionalValues.allergens</strong></p>
<p class="pizza-vegetarian">Suitable for vegetarians: <strong>$chosenPizza.nutritionalValues.vegetarian</strong></p>
<p class="pizza-vegan">Suitable for vegans: <strong>$chosenPizza.nutritionalValues.vegan</strong></p>

<table>
    <tr>
        <th>Nutritional info (per slice)</th>
        <th>Nutritional info (per 100g)</th>
    </tr>
    <tr>
        <td>Energy (kCal): $chosenPizza.nutritionalValues.energy_per_slice</td>
        <td>Energy (kCal): $chosenPizza.nutritionalValues.energy_per_100</td>
    </tr>

    <tr>
        <td>Protein (g): $chosenPizza.nutritionalValues.protein_per_slice</td>
        <td>Protein (g): $chosenPizza.nutritionalValues.protein_per_100</td>
    </tr>

    <tr>
        <td>Carbohydrate (g): $chosenPizza.nutritionalValues.carbohydrate_per_slice</td>
        <td>Carbohydrate (g): $chosenPizza.nutritionalValues.carbohydrate_per_100</td>
    </tr>

    <tr>
        <td>Sugars (g): $chosenPizza.nutritionalValues.sugars_per_slice</td>
        <td>Sugars (g): $chosenPizza.nutritionalValues.sugars_per_100</td>
    </tr>

    <tr>
        <td>Fat (g): $chosenPizza.nutritionalValues.fat_per_slice</td>
        <td>Fat (g): $chosenPizza.nutritionalValues.fat_per_100</td>
    </tr>

    <tr>
        <td>Saturated Fat (g): $chosenPizza.nutritionalValues.saturated_fat_per_slice</td>
        <td>Saturated Fat (g): $chosenPizza.nutritionalValues.saturated_fat_per_100</td>
    </tr>

    <tr>
        <td>Salt (g): $chosenPizza.nutritionalValues.salt_per_slice</td>
        <td>Salt (g): $chosenPizza.nutritionalValues.salt_per_100</td>
    </tr>
</table>

<br>

<a href="/"><button align="center"> Return to list of pizzas</button></a>

<br>