<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Pizzaworks</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/vendor/bootstrap/bootstrap.min.css">
    <style>

        /* Table styles */
        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

        td, th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }

        tr:nth-child(even) {
            background-color: #dddddd;
        }

        /* Dropdown Box Styles */
        .dropbtn:focus {
            background-color: #2980B9;
        }

        .dropdown {
            position: relative;
            display: inline-block;
        }

        .dropdown-content {
            display: none;
            position: absolute;
            background-color: #f1f1f1;
            min-width: 160px;
        .dropbtn {
            background-color: #3498DB;
            color: white;
            padding: 16px;
            font-size: 16px;
            border: none;
            cursor: pointer;
        }

        .dropbtn:hover,
        overflow: auto;
            box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
            z-index: 1;
        }

        .dropdown-content a {
            color: black;
            padding: 12px 16px;
            text-decoration: none;
            display: block;
        }

        .dropdown a:hover {background-color: #ddd}

        .show {display:block;}

        /* Pizza List Styles */

        #all-pizzas {
            display: block;
        }

        #vegetarian-pizzas {
            display: none;
        }

        #vegan-pizzas {
            display: none;
        }

    </style>
</head>
<body>

<header class="page-header">
    <a href="/"><img id="header-image" src="/images/pizzaworks-logo.png"></a>
</header>

<div class="container">

    <nav>
        <a href="/"><button>Home</button></a>
        #if($properties.loginToggle)
            #if($loggedIn)
                <a href="/admin"><button>Admin</button></a>
            #else
                <a href="/login"><button>Login</button></a>
            #end
        #end
    </nav>

    #parse($template)

    <footer>
    </footer>
</div>
<script src="/js/vendor/jquery-3.3.1.js"></script>
<script src="/js/app.js"></script>
<script src="/js/vendor/bootstrap/bootstrap.bundle.min.js"></script>
<script src="/js/FilterHelper.js"> </script>
</body>

</html>