<header class="page-header">
<a href="/"><img id="header-image" src="/images/pizzaworks-logo.png"></a>

</header>

<form action="/login/admin" method="POST">
    <label>User Name</label>
    <input type="text" name="username" placeholder="Enter your user name">
    <br/>
    <label>Password</label>
    <input type="password" name="password" placeholder="Enter your password">
    <br/>
    <input id="login-button" type="submit" value="Submit">
</form>
