<div id="main" class="row">
    <div class="col-12">
        <div class="info">
            Our famous pizzas:
        </div>
    </div>
    <div class="col-12">
        <ul id="pizza-list">
            #foreach($pizza in $pizzas)
                <li class="pizza">
                    <label>$pizza.name</label>
                </li>
            #end
        </ul>
    </div>
</div>
