<header class="page-header">
    <a href="/"><img id="header-image" src="/images/pizzaworks-logo.png"></a>
    <h1>Welcome to PizzaWorks!</h1>
    <a href="/login">
        <button>Login</button>
    </a>
    <div id="info">
        <p>Phone number: 0782-129-8883</p>
    </div>
</header>

<div id="main" class="row">

    <div class="col-12">
        <div class="info">
            Our famous pizzas:
        </div>
    </div>

    <select id="pizza-options" name="pizza-options">
        <option value=""> Show me...</option>
        <option value="all-pizzas"> All Pizzas</option>
        <option value="veggie-pizzas"> Vegetarian pizzas only</option>
        <option value="vegan-pizzas"> Vegan pizzas only</option>
    </select>


    <!-- Render ALL pizzas -->
    <div class="col-12">
        <ul id="pizza-list">
            #foreach($pizza in $pizzas)
                <li class="pizza row $pizza.stringRepresentationOfFilter()">
                    <div class="name col-2">
                        <a href="/pizza/$pizza.slug">$pizza.name</a>
                    </div>
                    <div class="ingredients col-6 offset-1">$pizza.ingredients</div>
                    <div class="price col-1 offset-1"> £$pizza.price</div>
                    <div class="order-button col-1">
                        <a href="/checkout/$pizza.slug" id="order-$pizza.slug">Order</a>
                    </div>
                </li>
            #end
        </ul>
    </div>

<script src="/js/FilterHelper.js"> </script>